.sign-up-wrap {
  width: 600px;
  margin: 0 auto;
  border-radius: 0;
  padding: 1rem auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  h2 {
    margin: 2rem auto;
  }
  .sub-heading {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 2rem;
  }
  .verify-subhead {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  form {
    display: flex;
    flex-flow: column nowrap;
    width: 400px;
    .verification-code-wrap {
      display: flex;
      flex-flow: row nowrap;
      input {
        margin: 0 3px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .form-control-wrap {
      margin-bottom: 5px;
      width: 100%;
      label {
        font-size: 14px;
      }
      input {
        border-radius: 2px !important;
      }
      .error {
        color: rgb(255, 87, 87);
      }
    }
    .theme-btn {
      background-color: black;
      border: 2px solid black;
      margin: 1rem auto;
      width: 100%;
      &:active,
      &:focus,
      &:hover {
        background-color: white;
        color: black;
        border-color: black;
      }
    }
    .disabled {
      opacity: 0.3;
    }
    .alter-router-span {
      margin-bottom: 150px;
      text-align: center;
      font-size: 14px;
      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        margin: 0 5px;
      }
    }
  }
}
